body {
    background-image: url("../images/oriental/oriental.png");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

.container-fluid {
    max-width: 960px;
}

#logo {
    color: white
}

.navbar-brand {
    background-color: #658e93;
    ;
    color: white;
    font-family: 'Slabo 27px', serif;
    font-size: 28px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.container {
    max-width: 960px;
    background: white;
    min-height: 100vh;
    margin-top: 100px;

}

h1 {
    color: #d35b3f;
    font-family: 'Slabo 27px', serif;
    padding-bottom: 20px;
    border-bottom: 1px dashed #31595e;
    margin-top: 15px;
}

/* footer*/

/*portfolio*/

.work {
    position: relative;
    display: inline-flex;
    margin: 20px 0 25px;
    margin-right: 40px;
}

.work:hover {
    position: relative;
    display: inline-flex;
    margin: 20px 0 25px;
    margin-right: 40px;
    opacity: 0.5;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin-bottom: 0;
    line-height: 50px;


    /* Typography */

    color: #fff;
    text-align: center;
    background: #d35b3f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}


.footer {
    font-size: 12px;
    margin-top: 100px;
    color: #ccc;
    text-align: center;
    background-color: #718c6a;
    border-top: 8px solid #d35b3f;
    justify-content: center;
    position: sticky;
    width: 100%;
}


/* small screens */
@media screen and (max-width: 480px) {


    .navbar-brand {
        width: 100%;
        margin: 0px;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }


}